apiVersion: v1
kind: Pod
metadata:
  name: my-config-pod
spec:
  containers:
    - name: app
      image: nginx:1.27-alpine
      envFrom:
        - configMapRef:
            name: my-config
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 500m
          memory: 256Mi
